.menu{
    display: flex;
    justify-content: space-between;
    background-color: #ffc0cb;
    padding: 15px;
    font-size: 20px;
    font-family: Arial ;
    font-weight: 400;
    color: #0000ff;
}
body{
    margin: 0px;
    background-color:#f5f5f5;
    
}

a:link{
    color: black;
}

a:visited{
    color: red;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    font-family: Arial;
    
}
.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
}
.origami {
    
    position: relative;
    border-radius: 20px;
    background-color:#ffffff;
    padding: 30px;
    margin: 30px;
    width: 350px;
    font-family: fantasy;
    
}

.origami p{
    position: absolute;
    top: 10%;
    left: 50%;
    transform :translate(-50%, -50%);
    opacity: 0;
}



.origami:hover{

    transform: scale(1.2);
}

.header a{
    text-decoration: none;
}

